[tool.poetry]
name = "fastapi-cdn-host"
version = "0.2.2"
description = ""
authors = ["Waket Zheng <waketzheng@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = {version = ">=0.100"}
httpx = {version = ">=0.23"}


[tool.poetry.group.dev.dependencies]
fast-tort-cli = {extras = ["all"], version="*", python=">=3.11"}
uvicorn = {extras = ["standard"], version = "*"}
bandit = "^1.7.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile="black"

[tool.mypy]
pretty = true
ignore_missing_imports = true
explicit_package_bases = true
check_untyped_defs = true

[tool.ruff.per-file-ignores]
"test_*.py" = ["E501"]
